#scheduleContainer {
    max-width: 700px;
    border: 600px; 
    /* background-color: #3483eb; */
    border-radius: 5px;

};

#inputContainer {
    max-width: 200px;
    border: 4pt; 
    border-color: #3483eb;
    border-radius: 5px;
};

.table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    text-align: center

};

.card-header {
    font-size: 16pt;
    color: wheat;
    background-color: #3483eb;
};

.jumbotron {
    text-align: center;
    background-color: #3483eb;
};

h1 {
    text-align: center;
    font-size: 32pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* td {
    text-align: center
};
     */